doctype html
html(lang='en-US')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1')

        title Poker Bootcamp

        // START of LINKS

        // Normalize.css
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.css")

        // BootstrapCSS 3.3.7
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")


        // START of FONTS

        // Material Design Icons
        link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")

        // END of FONTS

        // Main CSS file
        link(rel="stylesheet", href="styles/main.css")

        // END of LINKS

    body
        include mixins/mixins.jade

        section.black-bar
            h4.poker-bootcamp-h4 The 90 day poker bootcamp starts in:
            h2.countdown <span class="days"></span> days <span class="line">|</span> <span class="hours"></span> hours <span class="line">|</span> <span class="minutes"></span> min <span class="line">|</span> <span class="seconds"></span> sec

        section.introduction.poker-bootcamp
            img.background.poker-bootcamp(src="images/backgrounds/army-background.png", alt="")

            .heading
                h3.poker-bootcamp-h3 the 90 day
                h1.poker-bootcamp-h1.header-h1 poker bootcamp

            p.poker-bootcamp-p.header-p Compeltely Change Your Understanding and Applications by Fulling Examining 100 Spots Everyday for 100 Days

            .video.poker-bootcamp: .wistia_embed.wistia_async_jxv4no0s6w(class="seo=false videoFoam=true")


        section.reasons-texted: .container
            h1 After Coaching Poker for Nearly a Decade We Have Learned Several Things About Poker Players

            h3 1. Players STUDY the Game in Very Inefficient Ways.
            p Most good players are decent enough to not complain about bad beats. But they always have other reasons for their lack of performance. “I am really good I just lose focus after 2 hours,” or  “I play really well, I just run bad and lose and then I start playing poorly.” I hate to break it to you but. I am really good I just lose focus after 2 hours,” or  “I play really well, I just run bad and lose and then I start playing poorly.” I hate to break it to you but…

            h3 2. Players Need Something to Keep Them in “Game Mode”
            p Most good players are decent enough to not complain about bad beats. But they always have other reasons for their lack of performance. “I am really good I just lose focus after 2 hours,” or  “I play really well, I just run bad and lose and then I start playing poorly.” I hate to break it to you but. I am really good I just lose focus after 2 hours,” or  “I play really well, I just run bad and lose and then I start playing poorly.” I hate to break it to you but…

            h3 3. Most poker players work on their game in small sprints, not consistently over time
            p Most good players are decent enough to not complain about bad beats. But they always have other reasons for their lack of performance. “I am really good I just lose focus after 2 hours,” or  “I play really well, I just run bad and lose and then I start playing poorly.” I hate to break it to you but. I am really good I just lose focus after 2 hours,” or  “I play really well, I just run bad and lose and then I start playing poorly.” I hate to break it to you but…

            h3 4. Most poker players have no method for actually determining if they are correct or incorrect
            p Most good players are decent enough to not complain about bad beats. But they always have other reasons for their lack of performance. “I am really good I just lose focus after 2 hours,” or  “I play really well, I just run bad and lose and then I start playing poorly.” I hate to break it to you but. I am really good I just lose focus after 2 hours,” or  “I play really well, I just run bad and lose and then I start playing poorly.” I hate to break it to you but…

            h3 5. Most poker players lack the necessary confidence to make it in this game
            p Most good players are decent enough to not complain about bad beats. But they always have other reasons for their lack of performance. “I am really good I just lose focus after 2 hours,” or  “I play really well, I just run bad and lose and then I start playing poorly.” I hate to break it to you but. I am really good I just lose focus after 2 hours,” or  “I play really well, I just run bad and lose and then I start playing poorly.” I hate to break it to you but…

            h3 6. Most poker players have no method for actually determining if they are correct or incorrect
            p Most good players are decent enough to not complain about bad beats. But they always have other reasons for their lack of performance. “I am really good I just lose focus after 2 hours,” or  “I play really well, I just run bad and lose and then I start playing poorly.” I hate to break it to you but. I am really good I just lose focus after 2 hours,” or  “I play really well, I just run bad and lose and then I start playing poorly.” I hate to break it to you but…

            h3 7. Most poker players lack the necessary confidence to make it in this game
            p Most good players are decent enough to not complain about bad beats. But they always have other reasons for their lack of performance. “I am really good I just lose focus after 2 hours,” or  “I play really well, I just run bad and lose and then I start playing poorly.” I hate to break it to you but. I am really good I just lose focus after 2 hours,” or  “I play really well, I just run bad and lose and then I start playing poorly.” I hate to break it to you but…

            h2 Because of these reasons this is exactly why we created the perfect solution to all of these problems. Introducing The 90 Day Poker Bootcamp


        section.about-bootcamp: .container
            .heading: h1 The <span>90 day</span> poker bootcamp
            p The problem with most poker education is that it’s passive. Watching a video or reading a book doesn’t engage enough of a thought process for improvement. The 90 Day poker bootcamp is designed to get you to critically THINK, so you can transfer that thinking to your actual games. The problem with most poker education is that it’s passive. Watching a video or reading a book doesn’t engage enough of a thought process for improvement. Watching a video or reading a book doesn’t engage enough of a thought process for improvement.
            img.arrow(src="images/poker-bootcamp/camp-arrow.png", alt="")

        section.bootcamp-work: .container
            .heading
                img.star-left(src="images/poker-bootcamp/army-star.png", alt="")
                img.star-right(src="images/poker-bootcamp/army-star.png", alt="")
                h1 How Does the Poker Bootcamp Work?

            p The problem with most poker education is that it’s passive. Watching a video or reading a book doesn’t engage enough of a thought process for improvement. The 90 Day poker bootcamp is designed to get you to critically THINK, so you can transfer that thinking to your actual games.
            strong EVERYDAY WE WILL GO THROUGH A <span>UNIQUE 5 STEP PROCESS</span>


        section.steps: .container

            // STEP 1
            .step
                .side.text
                    h2.h2-step Step 1
                    h1.h1-step The Drills
                    p.p-step Everyday we will release a drill that is designed to improve some aspect of your game. Each drill is dynamic and will focus on all aspects of poker including: foundations, exploitive play, combinatorics, math, nonverbal behavior, poker tells, and much more.  We will review specific spots, create profiles of players, determine equity against a range and do a lot more.

                    ul Some of the drills include:
                        +step-li("Spot Extractions -", "A spot extraction is when we critically look at a hand a player got into and determine the right outcome for them from their perspective. We will learn about the player’s skill level, bankroll, experience, and the dynamics of the spot that they got into and work through the correct line for them to take. ")
                        +step-li("Build Range Profiles -", "Range profiles will utilize real footage from the Beyond Tells 2.0 (the largest study ever conducted on poker players) sample which contains players in real games. You will be tasked with watching footage of each player and creating a full breakdown of their game.")
                        +step-li("Mistake Hunting -", "In our mistake hunting assignments, we will assess the way a player played the game and look for specific mistakes that were made. Understanding how to identifing a player is going to be that way.")
                        +step-li("Mistake Hunting -", "In our mistake hunting assignments, we will assess the way a player played the game and look for specific mistakes that were made. Understanding how to identifing a player is going to be that way.")
                        +step-li("Mistake Hunting -", "In our mistake hunting assignments, we will assess the way a player played the game and look for specific mistakes that were made. Understanding how to identifing a player is going to be that way.")

                .side.images
                    img(src="images/steps/step-1.png", alt="")
                    img(src="images/steps/step-2.png", alt="")


            // STEP 2
            .step
                .heading
                    .video.half-side-step: .wistia_embed.wistia_async_jxv4no0s6w(class="seo=false videoFoam=true")
                    h2.h2-step Step 2
                    h1.h1-step.step-2 Video Breakdowns
                    p.p-step.half-step After completing the drill you will watch a full video breakdown where we take you through each aspect of the drill going over all the correct answers. This enables you in real time to see exactly what you got correct or incorrect and gives you a level of feedback that isn’t normally found at the table. Also, our breakdowns will be extensive. We are not just going to give you the answer, but exactly why that answer is correct and most importantly why we gave you drill in the first place.

                .step-childrens
                    .step-video
                        .video: .wistia_embed.wistia_async_jxv4no0s6w(class="seo=false videoFoam=true")
                        h3 The Exploitive Drills:
                        p Drills Designed to open your eyes to the world of explotiation at the table so you can play a more attack style of poker. Drills Designed to open your eyes to the world of explotiation at the table so you can play a more attack style of poker.

                    .step-video
                        .video: .wistia_embed.wistia_async_jxv4no0s6w(class="seo=false videoFoam=true")
                        h3 The Exploitive Drills and How Those Things Were Done.
                        p Drills Designed to open your eyes to the world of explotiation at the table so you can play a more attack style of poker. Drills Designed to open your eyes to the world of explotiation at the table so you can play a more attack style of poker.

                    .step-video
                        .video: .wistia_embed.wistia_async_jxv4no0s6w(class="seo=false videoFoam=true")
                        h3 The Exploitive Drills:
                        p Drills Designed to open your eyes to the world of explotiation at the table so you can play a more attack style of poker. Drills Designed to open your eyes to the world of explotiation at the table so you can play a more attack style of poker.

                    .step-video
                        .video: .wistia_embed.wistia_async_jxv4no0s6w(class="seo=false videoFoam=true")
                        h3 The Exploitive Drills:
                        p Drills Designed to open your eyes to the world of explotiation at the table so you can play a more attack style of poker. Drills Designed to open your eyes to the world of explotiation at the table so you can play a more attack style of poker.


            // STEP 3
            .step
                .heading
                    .video.half-side-step: .wistia_embed.wistia_async_jxv4no0s6w(class="seo=false videoFoam=true")
                    h2.h2-step Step 3
                    h1.h1-step.step-3 The micro lesson
                    p.p-step.half-step After completing the drill you will watch a full video breakdown where we take you through each aspect of the drill going over all the correct answers. This enables you in real time to see exactly what you got correct or incorrect and gives you a level of feedback that isn’t normally found at the table. Also, our breakdowns will be extensive. We are not just going to give you the answer, but exactly why that answer is correct and most importantly why we gave you drill in the first place.

                ul.steps-ul
                    +step-li("Mistake Hunting -", "In our mistake hunting assignments, we will assess the way a player played the game and look for specific mistakes that were made. Understanding how to identifing a player is going to be that way.")
                    +step-li("Mistake Hunting -", "In our mistake hunting assignments, we will assess the way a player played the game and look for specific mistakes that were made. Understanding how to identifing a player is going to be that way.")


            // STEP 4
            .step
                .side.text
                    h2.h2-step Step 4
                    h1.h1-step.step-4 The self Assessment
                    p.p-step Everyday we will release a drill that is designed to improve some aspect of your game. Each drill is dynamic and will focus on all aspects of poker including: foundations, exploitive play, combinatorics, math, nonverbal behavior, poker tells, and much more.  We will review specific spots, create profiles of players, determine equity against a range and do a lot more.

                .side.images
                    img(src="images/steps/step-1.png", alt="")

            // STEP 5
            .step
                .side.text
                    h2.h2-step Step 5
                    h1.h1-step.step-5 The discussion
                    p.p-step Everyday we will release a drill that is designed to improve some aspect of your game. Each drill is dynamic and will focus on all aspects of poker including: foundations, exploitive play, combinatorics, math, nonverbal behavior, poker tells, and much more.  We will review specific spots, create profiles of players, determine equity against a range and do a lot more.

                .side.images
                    img(src="images/steps/step-1.png", alt="")


        section.phase.poker-bootcamp: .container
            h1 WHY FIVE POINT METHOD WORKS
            p.below-point Most good players are decent enough to not complain about bad beats. But they always have other reasons for their lack of performance. “I am really good I just lose focus after 2 hours,” or  “I play really well, I just run bad and lose and then I start playing poorly.” I hate to break it to you but…

            .cards-container.bootcamp
                +reason("1. Learn to Master the “The First Decision”", "The first decision.. You can call, raise, or fold. It seems simple but we all know how complex that first decision can be. Calling when you shouldn’t, raising when it doesn’t make any sense, and folding hands that actually have a considerable amount of value. We will spend a significant amount of time breaking down and developing a thought process around “The First Decision”.", "images/predictive-edge/placeholder-gray.png")
                +reason("1. Learn to Master the “The First Decision”", "The first decision.. You can call, raise, or fold. It seems simple but we all know how complex that first decision can be. Calling when you shouldn’t, raising when it doesn’t make any sense, and folding hands that actually have a considerable amount of value. We will spend a significant amount of time breaking down and developing a thought process around “The First Decision”.", "images/predictive-edge/placeholder-gray.png")
                +reason("1. Learn to Master the “The First Decision”", "The first decision.. You can call, raise, or fold. It seems simple but we all know how complex that first decision can be. Calling when you shouldn’t, raising when it doesn’t make any sense, and folding hands that actually have a considerable amount of value. We will spend a significant amount of time breaking down and developing a thought process around “The First Decision”.", "images/predictive-edge/placeholder-gray.png")
                +reason("1. Learn to Master the “The First Decision”", "The first decision.. You can call, raise, or fold. It seems simple but we all know how complex that first decision can be. Calling when you shouldn’t, raising when it doesn’t make any sense, and folding hands that actually have a considerable amount of value. We will spend a significant amount of time breaking down and developing a thought process around “The First Decision”.", "images/predictive-edge/placeholder-gray.png")
                +reason("1. Learn to Master the “The First Decision”", "The first decision.. You can call, raise, or fold. It seems simple but we all know how complex that first decision can be. Calling when you shouldn’t, raising when it doesn’t make any sense, and folding hands that actually have a considerable amount of value. We will spend a significant amount of time breaking down and developing a thought process around “The First Decision”.", "images/predictive-edge/placeholder-gray.png")


        section.spots: .container
            h1 Over the Course of the 100 Spots We will:
            h3 Most good players are decent enough to not complain about bad beats. But they always have other reasons for their lack of performance. “I am really good I just lose focus after 2 hours,” or  “I play really well, I just run bad and lose and then I start playing poorly.

            h2 1. Players STUDY the Game in Very Inefficient Ways.
            p Most good players are decent enough to not complain about bad beats. But they always have other reasons for their lack of performance. “I am really good I just lose focus after 2 hours,” or  “I play really well, I just run bad and lose and then I start playing poorly.” I hate to break it to you but. I am really good I just lose focus after 2 hours,” or  “I play really well, I just run bad and lose and then I start playing poorly.” I hate to break it to you but…

            h2 2. Players Need Something to Keep Them in “Game Mode”
            p Most good players are decent enough to not complain about bad beats. But they always have other reasons for their lack of performance. “I am really good I just lose focus after 2 hours,” or  “I play really well, I just run bad and lose and then I start playing poorly.” I hate to break it to you but. I am really good I just lose focus after 2 hours,” or  “I play really well, I just run bad and lose and then I start playing poorly.” I hate to break it to you but…

            h2 3. Most poker players work on their game in small sprints, not consistently over time
            p Most good players are decent enough to not complain about bad beats. But they always have other reasons for their lack of performance. “I am really good I just lose focus after 2 hours,” or  “I play really well, I just run bad and lose and then I start playing poorly.” I hate to break it to you but. I am really good I just lose focus after 2 hours,” or  “I play really well, I just run bad and lose and then I start playing poorly.” I hate to break it to you but…

            h2 4. Most poker players have no method for actually determining if they are correct or incorrect
            p Most good players are decent enough to not complain about bad beats. But they always have other reasons for their lack of performance. “I am really good I just lose focus after 2 hours,” or  “I play really well, I just run bad and lose and then I start playing poorly.” I hate to break it to you but. I am really good I just lose focus after 2 hours,” or  “I play really well, I just run bad and lose and then I start playing poorly.” I hate to break it to you but…

            h2 5. Most poker players lack the necessary confidence to make it in this game
            p Most good players are decent enough to not complain about bad beats. But they always have other reasons for their lack of performance. “I am really good I just lose focus after 2 hours,” or  “I play really well, I just run bad and lose and then I start playing poorly.” I hate to break it to you but. I am really good I just lose focus after 2 hours,” or  “I play really well, I just run bad and lose and then I start playing poorly.” I hate to break it to you but…

            h2 6. Most poker players have no method for actually determining if they are correct or incorrect
            p Most good players are decent enough to not complain about bad beats. But they always have other reasons for their lack of performance. “I am really good I just lose focus after 2 hours,” or  “I play really well, I just run bad and lose and then I start playing poorly.” I hate to break it to you but. I am really good I just lose focus after 2 hours,” or  “I play really well, I just run bad and lose and then I start playing poorly.” I hate to break it to you but…

            h2 7. Most poker players lack the necessary confidence to make it in this game
            p Most good players are decent enough to not complain about bad beats. But they always have other reasons for their lack of performance. “I am really good I just lose focus after 2 hours,” or  “I play really well, I just run bad and lose and then I start playing poorly.” I hate to break it to you but. I am really good I just lose focus after 2 hours,” or  “I play really well, I just run bad and lose and then I start playing poorly.” I hate to break it to you but…


        section.develop.army

            .container
                h1 THE 90 DAY POKER BOOTCAMP INCLUDES:
                p In our second month we are going to be focusing on getting you to break the shackles and start to establish creativity and a predictive thought process at the poker table. I will show you how taking radically different lines than you are used to can make a huge difference in your profits. I will also give you the skills.

            img.army-bg(src="images/predictive-edge/develop-background.png", alt="")


        section.breakdowns.poker-bootcamp

            .breakdown.first-break

                .side.text
                    ul Improving the Speed and Accuracy of Your Reads
                        +sale-li("Rapid Range Construction: How to Practically Construct a Range", "Learn how to practically construct a range and exactly what you need to think about and why, and we will reinforce this with hundreds of guided video walkthroughs.")
                        +sale-li("Course Correction: How to Adjust Player Ranges in Real Time", "How to make real-time adjustments within the realm of reality by exposing you to dozens of examples of when our opponents get completely out of line and how you should adjust to that.")
                        +sale-li("Einstein’s Edge: The Hand Reading Memory Method", "We will teach and reinforce a simple but highly effective memory tool that can be used to significantly increase the recall of your opponent's actions and hands.")
                        +sale-li("TAG/LAG 2.0: Enhancing Our Understanding of Player Taxonomies", "We will work on establishing a much more robust method for classifying and playing against certain player types.")
                        +sale-li("Range Fluency: Mastering the Language of Ranges:", "We will fine tune your language so that you can process more in shorter periods of time.")
                        +sale-li("The Range Matrix and Understanding Player Profiles", "We will fine tune your language so that you can process more in shorter periods of time.")
                        +sale-li("“Why” Reading: Understanding the Deeper Psychology of Opponent Ranges:", "“Why” reading will allow you to see where a player is coming from and take the necessary steps required to outplay them.")
                        +sale-li("The Arrow Method: A Systematic Approach to Building Your Opponent Ranges", "The Arrow Method allows us to create a simple construct to make sure that you are consistently implementing your strengthened skillset to narrow a range and hand read at the table.")

                    ul Taking the Line Less Traveled, Balancing Your Aggression, Establishing a Predictive Thought Process, & Determining Your Opponent’s “Why”
                        +sale-li("The Most Effective (Immediate) vs. The Most Valuable (Long Term)", "Lines Learning the difference between the most effective and the most valuable outcome can give you more control over the outcome of your hand and is essential to playing a style that works for you.")
                        +sale-li("The Deadly 7: Alternate Lines Based on Predetermined Player Psychology", "The majority of my situational exploits come from utilizing just two of the seven lines I will discuss.")
                        +sale-li("Stopping the Bull: Dealing with Mindless Aggressive Players", "Out of the box techniques to deal with aggressive “bull” players and once you learn exactly how to use them, they can be incredible sources of value.")
                        +sale-li("The Crystal Ball: Establishing Consistent Multi-Street Thinking:", "We will spend most of Phase 2 developing your ability to see the actions that your opponents are likely to take on multiple streets.")
                        +sale-li("Rationality Testing: How to Determine Just How Rational Your Nutty Players ARE:", "Discover specific methods to determine just how rational players are at the table and specific tactics you can implement for making a considerable amount of money against these players.")
                        +sale-li("No Cards, No Problem: Bluffing, Exploiting and Identifying Weaknesses on Any Street:", "We will strengthen your ability to see situations where it's perfect to bluff and discuss exactly how you can execute that bluff.")
                        +sale-li("The Value Tree and Branch Analysis: Understanding and Assessing the Path to the Most Value:", "Our value tree exercise is a highly effective way of understanding what actioans could have gotten you the most value - and how to quickly take the correct action in the future.")
                        +sale-li("Predictive Comparison: Dozens of Comparisons Between Predictive and Non-Predictive Thought Processes:", "We will analyze the individual thoughts of players and point out where a predictive thought process is missing and where it can be best used.")
                        +sale-li("How to Measure Your Acceptable Margin of Error:", "We will take you through a process that will help you specifically determine your acceptable margin of error at table.")

                    ul Creating, Testing, and Establishing Your Own Approach
                        +sale-li("The 7-Point Hand Review System:", "How to Fully Break Down and Review a Hand Understand our 7-point hand reviewal system that you can use to systematically review hands to see if you played them correctly. This is a tool you will use throughout the rest of your poker career.")
                        +sale-li("The Gut Check: How to Determine If You Should Trust Your Instincts:", "We will share our simple tool and process to help you determine if you are operating off gut instinct or if you “just want to see if he had it.”")
                        +sale-li("The Perfect Session - The A Game & The Playing Well Test:", "Gain a systematic and personal-test approach to understand if you are playing well or not. Use this to know exactly when you should get up from the table.")
                        +sale-li("Getting in Their Head: The Most Useful Exercise I Have Ever Created:", "Practice my favorite and most useful exercise that any live player can do...")
                        +sale-li("The Sprint Method: Varying Cognitive Focus at the Table:", "Learn a method of playing poker that requires you to be hyper focused and then take breaks in the middle of your actual session. It’s highly effective and it’s the exact method I used to play high performance poker for 14-hour days at the WSOP.")
                        +sale-li("Trend Assessment - The Difference in Trends at Every Stake:", "$1/$2 plays a lot different than $25/$50. I will discuss the differences in play at each level and give you specific tips so you know what to expect at every level of the game.")
                        +sale-li("How to Establish High-Level Routines at the Poker Table:", "We will teach you how to use the same routines that the highest performers in multiple fields use to achieve maximum performance and focus.")
                        +sale-li("Thought Engineering: Reverse Engineer Player’s Thoughts by Determining What They Have:", "In our thought engineering exercise we will reverse player's actions into thoughts in order to better understand them and the path to extract maximum value.")
                        +sale-li("Final Assessment & Review:", "At the end of the 12 week course, you will take your final assessment and compare your thoughts before and after you have taken this course. I will also show you how to do a full breakdown and analysis of assessments to show you how to analyze exactly where a player is at.")

                .side.images
                    img(src="images/predictive-edge/join-today/include-1.png", alt="Includes")
                    img(src="images/predictive-edge/join-today/include-2.png", alt="Includes")
                    img(src="images/predictive-edge/join-today/include-3.png", alt="Includes")
                    img(src="images/predictive-edge/join-today/include-4.png", alt="Includes")
                    img(src="images/predictive-edge/join-today/include-5.png", alt="Includes")
                    img(src="images/predictive-edge/join-today/include-6.png", alt="Includes")
                    img(src="images/predictive-edge/join-today/include-4.png", alt="Includes")
                    img(src="images/predictive-edge/join-today/include-5.png", alt="Includes")
                    img(src="images/predictive-edge/join-today/include-6.png", alt="Includes")

            // BONUS 2
            +bonus-army('bonus #3', 'Valued at $999')
            .breakdown.breakdown-bonus

                .side.bonus-text
                    h2 The Professional Series
                    p.main-p Playing poker professionally is a dream for so many players. However, if it’s not approached in a systematic and responsible manner it can become a nightmare. Before you play professionally there needs to be several questions answered. Are you good enough? Does your situation make it possible to play poker? Playing poker professionally is for a very small percentage of people. This workshop is designed to see if you are one of them.

                    strong The 10 Key Questions to Answer Before Going Pro
                    p If we are going to be systematic in our approach to playing poker, we are also going to do the same if we decide to play for a living. Learn the 10 key questions you need to answer before making the decision to play full time.

                    strong Creating Your Professional Roadmap:
                    p Transitioning to poker full time requires some careful planning. I will show you three roadmaps that lay out exactly how players made a transition to full time play.

                    strong The Professional Bankroll:
                    p When you play poker for a living, your bankroll isn’t just something theoretical. It’s your life line. It’s how you play the bills. Learn the responsible way to manage your bankroll and all the necessary requirements that are required to play professionally.

                    strong Blake’s Top 5 Value Tips and Tricks:
                    p Over the years of playing professionally and coaching so many professional players there are certain tips and tricks that make a big difference and add a ton of value. I will go over my 5 most valuable tips and tricks to insure that you are being successful at the table.

                    strong Interviews with Live Professional Grinders:
                    p Professional poker can seem like a glorious profession but there are realities that most people aren’t aware of. Watch me interview 2 live professional grinders who are currently making between 60-90k a year player poker full time.

                    strong Questions and Answers:
                    p I will answer a wide range of questions submitted to us and give you the option to ask questions as well at our live workshop.

                .side.bonus-images
                    img.fix(src="images/predictive-edge/bonus-3.png", alt="")
                    img.fix(src="images/predictive-edge/bonus-4.png", alt="")
                    img.fix(src="images/predictive-edge/bonus-5.png", alt="")


            .money-back.army
                img(src="images/money-back.png", alt="")
                h1 30 Day 100% Money Back Guarentee
                p Listen, let’s be clear here. I can’t guarantee that you are all of a sudden going to turn into the best poker player in the world. Anyone selling you any product that guarantees stuff like that is full of shit.
                p What I can guarantee is that if you take the training and do the work, Beyond Tells will be the best investment you have ever made in your game. The information you get from reading behavior will significantly elevate your skills, allowing you to pay for the product so many times over. I am so confident in what I am offering because I have personally seen the incredile results experienced by hundreds of players.
                p And let me say this one last time: there is absolutely NO RISK. If you are not amazed at the quality of Beyond Tells - send us an email at any time time during the first 30 days and I will give you a full refund. No questions asked. No hard feelings.

                h3 Blake Eastman
                span Creator of the Predictive Edge


        section.plans.army: .container
            h1.heading-main FLEXIBLE OPTIONS FOR THE 90 DAY BOOTCAMP
            p.heading-description Everyone has questions. We have answers. If it’s not below. Please just reach out and let us know if you have any other questions.

            .plans-container
                include mixins/plans/army-30.jade
                include mixins/plans/army-60.jade
                include mixins/plans/army-90.jade


        section.faq: .container
            h1.heading-main Frequently Asked Questions
            p.faq-description These are just some of the things said after the course was completed.

            .questions-container
                +faq-question("What happens when it ends? Do I lose access to everything?", "No. You will have LIFETIME access to all content once the course is over. You will be able to retake it any time and receive all future course updates and improvements for free.")
                +faq-question("What if I don’t like the course? Can I get my money back?", "Yes, of course. All of our products offer a full, 30-day money back guarantee. If you don't like the course for any reason you can get a full refund if you are in the 30-day window.")
                +faq-question("Will I meet other poker players?", "Definitely. We have a full forum where you can discuss strategy, your progress in the course, meet some poker friends and more.")
                +faq-question("How much time will I have to dedicate each week?", "This is completely up to you. The course is set up to be flexible. You should be watching the videos and completing the assignments each week, but if you can’t dedicate as much time in week 4 as you did in week 1, then you can definitely catch up more slowly. Some people may dedicate 2-3 hours per week, while others may dedicate 5-6. It really depends on how quickly you want to absorb all the material and what your own personal learning style is.")
                +faq-question("How is the Predictive Edge different from other poker training sites?", "Poker training sites give you lots of information. The problem is that it’s hard to do anything with information when you have no guidance. You can learn poker concepts anywhere, but there are very few places that teach you how to APPLY those concepts. There is virtually no other site that will provide you with assignments that you can directly use in your everyday play, and personal support on top of that. The Predictive Edge is different because you are not anonymous, you’re not just another number in the system.")
                +faq-question("I’m busy. What if I start to fall behind?", "The course is broken up over 12 weeks, but if life gets in the way and you fall a bit behind don’t worry. Even after the 12 weeks are over, you will have all the videos available to watch, whether you’re catching up on videos you didn’t get to see or you’re refreshing information you’ve already learned. You can also pace the course to do it in 24 weeks. This way you basically just take 2 weeks to do one week of course work.")
                +faq-question("I’m busy. What if I start to fall behind?", "The course is broken up over 12 weeks, but if life gets in the way and you fall a bit behind don’t worry. Even after the 12 weeks are over, you will have all the videos available to watch, whether you’re catching up on videos you didn’t get to see or you’re refreshing information you’ve already learned. You can also pace the course to do it in 24 weeks. This way you basically just take 2 weeks to do one week of course work.")
                +faq-question("What if I have questions, will there be people that I can go to?", "We are here to make sure that your questions get answered. If you have any questions about specific content covered in the previous week, you can ask in the sections underneath each assignment. For general questions, we have the Q&A forum. You can also use our internal messaging system to ask us a question directly at any time.")
                +faq-question("Will I get access to the entire course all at once?", "No, The Predictive Edge is a 12-week workshop. Each week new videos and assignments will be posted. You will be able to access current videos for the week and any previous videos, but videos for future weeks will not be available. At the end of the course, all videos will be available to you for the lifetime of your membership.")

        footer.page-footer.army

            ul.lower.navigation
                li: a(href="") Contact Us
                li: a(href="") Privacy Policy
                li: a(href="") Disclaimer



        // jQuery 3.1.1
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")

        // BootstrapJS 3.3.7
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")

        // Main JS
        script(src="js/main.js")

        // timer.js
        script(src="js/timer.js")

        script(src="https://fast.wistia.com/embed/medias/tvl53d55cn.jsonp" async)
        script(src="https://fast.wistia.com/assets/external/E-v1.js" async)